name: Kosui CI
on:
  pull_request:
  workflow_call:
  pull_request_target:
    types:
      - auto_merge_enabled
    paths:
      - "**/CHANGELOG.md"
concurrency:
  group: ci-workflow-${{ github.workflow }}-ref-${{ github.ref }}
  # Cancel in-progress workflows for PRs (but not main).
  cancel-in-progress: ${{ github.ref != 'refs/heads/main'}}
permissions:
  contents: read
jobs:
  npm:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
      - name: Setup pnpm and node
        uses: ./.github/actions/setup-pnpm
      - run: pnpm test
      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: build/

  e2e:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
      - name: Setup pnpm and node
        uses: ./.github/actions/setup-pnpm
      - name: Cache Playwright
        id: playwright-cache
        uses: actions/cache@v5.0.3
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-playwright-
      - name: Install Playwright
        run: pnpm exec playwright install --with-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - run: pnpm test:e2e
