name: Release

on:
  push:
    branches:
      - main
env:
  CI: true
concurrency:
  group: workflow-${{ github.workflow }}
  cancel-in-progress: false
permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: read
  deploy:
    # prevents this action from running on forks
    if: github.repository == 'kosolabs/kosui'
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: build
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
  release:
    # prevents this action from running on forks
    if: github.repository == 'kosolabs/kosui'
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
      id-token: write # Required for OIDC
    needs: build
    environment:
      name: kosuinpm
      url: https://www.npmjs.com/package/kosui
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v6.0.2
      - name: Setup pnpm and node
        uses: ./.github/actions/setup-pnpm
      - name: Create and publish versions
        id: changesets
        uses: changesets/action@v1.6.0
        with:
          commit: "chore: update versions"
          title: "chore: update versions"
          publish: pnpm ci:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/create-github-app-token@v2.2.1
        if: steps.changesets.outputs.hasChangesets == 'true' && steps.changesets.outputs.published == 'false'
        id: releaser-token
        with:
          app-id: ${{ secrets.RELEASER_APP_ID }}
          private-key: ${{ secrets.RELEASER_PRIVATE_KEY }}
      - name: Enable auto-merge for Changesets PRs
        if: steps.changesets.outputs.hasChangesets == 'true' && steps.changesets.outputs.published == 'false'
        run: gh pr --repo "${{ github.repository }}" merge --auto --squash "${{ steps.changesets.outputs.pullRequestNumber }}"
        env:
          GH_TOKEN: ${{ steps.releaser-token.outputs.token }}
